.testcss {
	color: red;
}

.sidebar {
	width: 200px;
	height: calc(100vh - 56px - 28px);
	margin: 12px 0;
	border-right: 1px solid #e0e0e0;
}

.sidebar ul {
	margin: 1rem;
	list-style: none;
}

.sidebar ul li {
	margin: 1rem 0;
}

.sidebar ul li a {
	text-decoration: none;
	color: #333;
}

.content {
	margin: 2rem;
	flex: 1;
}

.select-radio label {
	display: block;
	border: 2px solid #ccc;
	padding: 20px;
	border-radius: 5px;
	cursor: pointer;
	text-align: center;
	transition: border-color 0.3s;
}

.select-radio:hover {
	border-color: #666;
}

.select-radio input[type="radio"] {
	display: none;
}

.select-radio input[type="radio"]:checked + label {
	border-color: skyblue;
}

.select-radio label {
	display: block;
}