<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	  <meta charset="UTF-8"></meta>
    <title>Top Page</title>
</head>
<body>
    <h1>Welcome to Mercarry! v2</h1>
		<header>
			<nav>
				<div th:if="${#authentication.name == 'anonymousUser'}">
						<a th:href="@{/signin}">Sign In</a>
						<a th:href="@{/signup}">Sign Up</a>
				</div>

				<div th:if="${#authentication.name != 'anonymousUser'}">
						<p>Welcome, <span th:text="${#authentication.name}"></span>!</p>
						<a th:href="@{/signout}">Sign Out</a>
				</div>
			</nav>
		</header>
    <div>
        <p>list</p>
        <!-- 出品情報をここにリスト表示する予定 -->
    </div>
</body>
</html>
