<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head" th:remove="tag">
	  <meta charset="UTF-8"></meta>
		<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous"></link>
		<link th:href="@{/css/base.css}" rel="stylesheet"></link>
    <title>Mercarry</title>
</head>
<body>
	<header th:fragment="header" th:remove="tag">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<div class="container-fluid">
					<a class="navbar-brand" th:href="@{/}">Mercarry</a>
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarNav">
						<ul class="navbar-nav">
							<li class="nav-item">
								<a class="nav-link active" th:classappend="${currentPath == '/'} ? 'active'" th:href="@{/}">Home</a>
							</li>
							<li class="nav-item" th:classappend="${currentPath == '/signin'} ? 'active'" th:if="${#authentication.name == 'anonymousUser'}">
								<a class="nav-link" th:href="@{/signin}">Sign In</a>
							</li>
							<li class="nav-item" th:classappend="${currentPath == '/signup'} ? 'active'" th:if="${#authentication.name == 'anonymousUser'}">
								<a class="nav-link" th:href="@{/signup}">Sign Up</a>
							</li>
							<li class="nav-item" th:classappend="${currentPath == '/mypage'} ? 'active'" th:if="${#authentication.name != 'anonymousUser'}">
								<a class="nav-link" th:href="@{/mypage}">My Page</a>
							</li>
							<li class="nav-item" th:classappend="${currentPath == '/signout'} ? 'active'" th:if="${#authentication.name != 'anonymousUser'}">
								<a class="nav-link" th:href="@{/signout}">Sign Out</a>
							</li>
						</ul>
				</div>
			</div>
		</nav>
	</header>
	<footer th:fragment="footer" th:remove="tag">
		<p>c 2024 Mercarry</p>
	</footer>
	<div th:fragment="dependencies" th:remove="tag">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
	</div>
</body>
</html>
